<%layout('layouts /boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class=" col-md-6 offset-md-3 col-xl-6 offset-xl-6`">
                <div class="card shadow">
                    <img src="https://media.istockphoto.com/id/1359711196/es/foto/tienda-naranja-iluminada-internamente-en-la-orilla-del-lago-bajo-el-espectacular-cielo-al.jpg?s=612x612&w=0&k=20&c=b0IC2xZEAvsBtvjK9lPwGsDCoUtyalF5dB9MDAWuh0U="
                        alt="camp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-lable" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required
                                    autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-lable" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>